<div
  class="border w-full shadow-lg rounded-lg overflow-hidden bg-white transition-all transform hover:scale-105 hover:shadow-2xl cursor-pointer"
  [routerLink]="'/product/' + product._id"
>
  <img
    [src]="product.images[0]"
    alt="Product Image"
    class="w-full h-52 object-cover transition-all duration-300 hover:opacity-90"
  />

  <div class="p-5">
    <h3 class="text-xl font-bold mb-1 text-gray-800 truncate">
      {{ product.name }}
    </h3>
    <p class="text-gray-600 mb-3 line-clamp-2">
      {{ product.shortDescription }}
    </p>

    <div class="flex items-center justify-between">
      <p class="text-lg text-gray-500 font-semibold">
        <s>₹{{ product.price }}</s>
      </p>
      <p class="text-lg text-red-500 font-semibold">
        {{ product.discount }}% OFF
      </p>
      <p class="text-2xl text-green-600 font-bold">₹{{ sellingPrice }}</p>
    </div>

    <div class="flex gap-3 mt-4">
      <button
        mat-fab
        color="primary"
        class="shadow-lg hover:scale-110 transition-transform hover:shadow-xl"
        (click)="addToCart(product); $event.stopPropagation()"
      >
        @if(isProductInCart(product._id!)){
        <mat-icon>remove_shopping_cart</mat-icon>
        }@else {
        <mat-icon>add_shopping_cart</mat-icon>
        }
      </button>

      <button
        mat-fab
        color="warn"
        (click)="toggleWishlist(product); $event.stopPropagation()"
        class="shadow-lg hover:scale-110 transition-transform hover:shadow-xl"
      >
        <mat-icon>{{
          isInWishlist(product) ? "favorite" : "favorite_border"
        }}</mat-icon>
      </button>
    </div>
  </div>
</div>
